@media screen and (min-width:576.1px) and (max-width:992px) {
    header {
        margin: 0px auto;
    }

    nav,
    .nav-items-container,
    .gamer-sec-container,
    .play-container {
        flex-direction: column;
    }

    .primary-btn {
        padding: 20px 40px;
        border-radius: 48px;
        font-size: 1rem;
    }

    nav {
        gap: 25px;
        padding: 50px;
    }

    .follow-us-container {
        margin-top: 10px;
    }

    .banner-container {
        flex-direction: column-reverse;
        background: none;
    }

    .banner-content {
        width: 100%;
        padding: 20px 12%;
        background-image: url('../images/group\ 14.png');
        background-repeat: no-repeat;
        background-size: contain;
    }

    .banner-image {
        width: 80%;
        padding: 30px;
    }

    .banner-image img {
        width: 100%;
    }

    .banner-cont-title {
        font-size: 2rem;
    }

    .goat-title {
        font-size: 4.5rem;
    }

    .gamer-sec-container {
        margin: 0px auto;
        margin-bottom: 10px;
        padding: 0px;
    }

    .gamer-content {
        width: 100%;
        text-align: center;
        padding: 25px;
    }

    .online-games {
        padding: 18px 40px;
    }

    .card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 20px 0px 0px;
    }

    .card-content {
        padding: 10px;
    }

    .card-content p {
        text-align: center;
    }

    .play {
        padding: 20px;
    }

    .play-content {
        max-width: 400px;
        text-align: center;
    }

    .play-content p {
        margin-bottom: 25px;
    }

    .play-image {
        width: 70%;
        margin-left: 25px;
        margin-bottom: 15px;
    }

    .play-image2 {

        width: 70%;
        margin-right: 25px;
        margin-bottom: 10px;
    }

    .explore {
        margin: 40px auto 20px;
        padding: 15px;
    }

    .explore-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        width: 100%;
    }

    .explore-content {
        width: 100%;
        gap: 8px;
        padding: 10px;
        margin: 8px auto;
    }

    .explore-content img {
        width: 30%;
    }

    .footer-content {
        padding: 60px 20px 25px;
    }

    .footer-logo {
        gap: 15px;
        margin-bottom: 20px;
    }

    .footer-logo img {
        width: 20%;
    }

    .foot-logo-title {
        font-size: 3rem;
        font-weight: 600;
    }

    .foot-item,
    .follow-icon {
        align-items: center;
        display: grid;
        text-align: center;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        gap: 20px;
        padding: 0px;
        margin-bottom: 25px;
        margin-top: 25px;
        text-align: center;
    }

    .foot-item a {
        font-size: 18px;
    }

    .follow-icon img {
        margin-bottom: 10px;
    }

    .terms {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        text-align: left;
        gap: 25px;
        padding: 15px 60px;
        margin-bottom: 10px;
        margin-top: 10px;
        justify-content: space-between;
    }

    .terms-text-align {
        text-align: right;
    }

    .all-rights {
        text-align: center;
        margin-top: 5px;
    }

    .all-rights span {
        display: block;
    }

    .hide {
        display: none;
    }
}